<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/stile.css}"/>
    <link rel="stylesheet" type="text/css" href="@{/css/lightbox.min.css}"/>
    
	    
    </script>
<body>
	<div>
		<h4>Album</h4>
		<div>
		Nome: <span th:text="${album.nome}">Album Spagna</span>
		</div>
		
		<h4>Queste sono le foto di questo Album</h4>
		<div>
		<ul>
			<span th:each = "fotografia : ${album.fotografie}">
		
				<a class = "immagine" th:href = "@{'/ingrandimento/'+${fotografia.id}}">
				<img src = "${fotografia.url}" th:src="@{${fotografia.url}}"
					th:title = "${fotografia.nome}"/></a>
				
			</span>
		</ul>
		</div>
	</div>
</body>
</html>