<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
	<title> Carrello </title>
</head>

<body>
	<h3> Queste sono le fotografie che hai nel carrello </h3>
	
		<ul>
			<li th:each = "fotografiaCarrello : ${fotografieCarrello}">
				<span th:text = "${fotografiaCarrello.nome}">NomeFotografia</span>
				<span th:text = "${fotografiaCarrello.prezzo}">PrezzoFotografia</span>

			</li>
		</ul>
		
		<a th:href = "addRichiesta" 
			th:text = "Richiedi">Richiesta</a>
</body>
</html>
