<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/stile.css}"/>
    <link rel="stylesheet" type="text/css" href="@{/css/lightbox.min.css}"/>
    
	
    <script type="text/javascript" src="js/lightbox-plus-jquery.min.js">
    </script>
<head>
	<title> Carrello </title>
</head>

<body>
	<h1>Carrello</h1>
	<h2> Non sono presenti fotografie nel carrello. Clicca <a th:href="@{/getGalleria}"> qui</a> 
	per tornare nella galleria</h2>
</body>
</html>
