<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	
<body>
<form th:action = "@{/fotografo}" method = "POST" th:object = "${fotografo}">
	<h1>Inserisci un nuovo Fotografo</h1>
	<table>
		<tr>
			<td>Nome: </td>
			<td><input type = "text" th:field = "*{nome}"/></td>
			<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></td>		
		</tr>
		<tr>
			<td>Cognome: </td>
			<td><input type = "text" th:field = "*{cognome}"/></td>
			<td th:if = "${#fields.hasErrors('cognome')}" th:errors = "*{cognome}"></td>
		</tr>
		<tr>
			<td>Anno di nascita: </td>
			<td><input type = "text" th:field = "*{annoDiNascita}"/></td>
		</tr>		
		<tr>
			<td><button type = "submit">Invio</button></td>
		</tr>
	</table>
</form>
</body>
</html>