<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/fotografo.css}"/>
    <link rel="stylesheet" type="text/css" href="@{/css/lightbox.min.css}"/>
    <script type="text/javascript" src="js/lightbox-plus-jquery.min.js">
    </script>
    
<body>
<h1>Fotografi</h1>
<div>
<ul>
	<li th:each = "fotografo : ${fotografi}">
		<div class = "fotografi">

		<a th:href = "@{'/fotografo' + '/' + ${fotografo.id}}" 
		th:text = "${fotografo.nome}">NomeFotografo</a>
		
		<a th:href = "@{'/fotografo' + '/' + ${fotografo.id}}" 
		th:text = "${fotografo.cognome}">CognomeFotografo</a>
		</div>
	</li>
</ul>
</div>
</body>
</html>