<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/fotografia.css}"/>
    <link rel="stylesheet" type="text/css" href="@{/css/lightbox.min.css}"/>
    <script type="text/javascript" src="js/lightbox-plus-jquery.min.js">
    </script>	

<title>Fotografia</title>
<body>
<div class = "fotografiaImp">
	<h1>Fotografia</h1>
	<div class = "imp">
	<div>					
		<b>Titolo:</b>
		<span th:text = "${fotografia.nome}">NomeFotografia</span>
	</div>		
	<div>					
		<b>Descrizione:</b>
		<span th:text = "${fotografia.descrizione}">DescrizioneFotografia</span>
	</div>
	<div>			
		<b>Prezzo:</b>	
		<span th:text = "${fotografia.prezzo}">PrezzoFotografia</span>
	</div>
	</div>

		
	<div>
	<a class = "immagine" th:href = "@{'/ingrandimento/'+${fotografia.id}}">
	<img src = "${fotografia.url}" th:src="@{${fotografia.url}}"
		th:title = "${fotografia.nome}"/></a>
	</div>
	
</div>
</body>
</html>