<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<title>Login Funzionario</title>
</head>
<body>
	<h4>Login Funzionario</h4>
	<form th:action="@{/loginController}" method="POST"
		th:object="${funzionario}">
		<p>
			<input type="text" th:field="*{userName}" /> Email <span
				th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
		</p>
		<p>
			<input type="password" th:field="*{password}" /> Password <span
				th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
		</p>
		<p>
			<input type="submit" value="Login"> <span
				th:text="${datiErrati}"></span>
		</p>
	</form>
</body>
</html>