<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<title>Login page</title>
</head>
<body>
	<h4>Effettua il login</h4>
	<form th:action="@{/loginController}" method="POST" th:object="${funzionario}">
	<table>
		<tr>
			<td>Username: </td>
			<td><input type = "text" th:field = "*{userName}"/></td>
			<td th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></td>		
		</tr>
		<tr>
			<td>Password: </td>
			<td><input type = "text" th:field = "*{password}"/></td>
			<td th:if = "${#fields.hasErrors('password')}" th:errors = "*{password}"></td>
		</tr>
		
		<tr>
			<td><input type="submit" value="Login"> <span
				th:text="${datiErrati}"></span></td>
		</tr>
	</table>
	</form>
</body>
</html>