<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/fotografo.css}"/>
    <link rel="stylesheet" type="text/css" href="@{/css/lightbox.min.css}"/>
    
<body>
<h4>Benvenuto</h4>
<div class = "operazioniFunzionario">
	<div>
		<span><a th:href="@{/addFotografo}">Aggiungi nuovo Fotografo</a></span>
	</div>
	<div>
		<span><a th:href="@{/selezionaFotografo}">Aggiungi nuovo Album</a></span>
	</div>
	<div>
		<span><a th:href="@{/selezionaAlbum}">Aggiungi nuova Fotografia</a></span>
	</div>
	<div>
		<span><a th:href="@{/richiesteRicevute}">Visualizza le richieste</a></span>
	</div>
</div>
</body>
</html>