<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title> Galleria Foto </title>

	<link rel="stylesheet" type="text/css" href="css/galleriaFoto.css"/>
    <link rel="stylesheet" type="text/css" href="css/lightbox.min.css">
    <script type="text/javascript" src="js/lightbox-plus-jquery.min.js">
    </script>
</head>
<body>
<h1> Galleria Foto </h1>
	<div class="galleria">
	<ul>
	<span th:each = "fotografia : ${fotografie}">
		<a th:href="${fotografia.url}" th:data-lightbox="mygallery" th:data-title = "${fotografia.nome}"  >
		<img src="{'/static' + ${fotografia.url}}" th:src="@{${fotografia.url}}"/>
		
		<a th:href = "addFotografiaNelCarrello" 
			th:text = "Seleziona">Seleziona</a>
		
		</a>
		
 </span>  
	</ul>
	</div>
</body>
</html>
