<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">

<title> Benvenuto </title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/lightbox.min.css">
    <script type="text/javascript" src="js/lightbox-plus-jquery.min.js">
    </script>
</head>
<body>

<h1> Benvenuto</h1>

<div class="links">

<a href = "galleriaFoto.html">Galleria_Foto</a>

<a href = "listaFotografi.html">Fotografi</a>

<a href = "listaAlbum.html">Album</a>

</div>

<div class="loginFunzionario">
<p>
Sei un funzionario? Effettua il <a href = "LoginFunzionario.html">Login</a>!
</p>
</div>
</body>
</html>
