<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	<head>
		<title>SILPH SPA</title>

	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" type="text/css" href="@{/css/lightbox.min.css}"/>
    <script type="text/javascript" src="js/lightbox-plus-jquery.min.js">
    </script>
    
	</head>
	

   
	<body><h1>SILPH SPA</h1>

	<div class="links"><div>
			<a th:href="@{/getGalleria}">
			<img src = "/images/galleriaFoto.jpg"
			th:src="@{/images/galleriaFoto.jpg}"/></a>
			<a th:href="@{/getFotografi}">			
			<img src = "/images/fotografi.jpg"
			th:src="@{/images/fotografi.jpg}"/></a>
			<a th:href="@{/getAlbum}">			
			<img src = "/images/album.jpg"
			th:src="@{/images/album.jpg}"/></a>
		</div>
		
		<div>
		Sei un funzionario? Effettua il <a th:href="@{/login}">Login</a>
		</div>
		
		<div>
		<a th:href="@{/cercaFotografo}">Cerca un Fotografo</a>
		</div>
	</div>
	
			   
	<div class = "benvenuto">
	<center>
	<img src = "/images/Benvenuto.jpg" th:src="@{/images/Benvenuto.jpg}"/>
	</center>
	</div>
	
	</body>
</html>
