<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	
<body>
<form th:action = "@{/richiesta}" method = "POST" th:object = "${richiesta}">
	<h1>Compila la richiesta</h1>
	<div>
		<h4>Inserisci i tuoi dati</h4>
	</div>
	<table>
		<tr>
			<td>Nome: </td>
			<td><input type = "text" th:field = "*{cliente.nome}"/></td>
		</tr>
		<tr>
			<td>Cognome: </td>
			<td><input type = "text" th:field = "*{cliente.cognome}"/></td>
		</tr>
		<tr>
			<td>e-mail: </td>
			<td><input type = "text" th:field = "*{cliente.email}"/></td>
		</tr>
		<tr>
			<td>Indirizzo: </td>
			<td><input type = "text" th:field = "*{cliente.indirizzo}"/></td>
		</tr>	
		<tr>
			<td><button type = "submit">Invio</button></td>
		</tr>
		
	</table>
</form>
</body>
</html>