<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Richiesta</title>
</head>
<body>
	<h1>Riepilogo richiesta inviata:</h1>
	<div>
		Nome: <span th:txt="${cliente.nome}">Giovanni</span>
	</div>
	<div>
		Cognome : <span th:txt="${cliente.cognome}">Bianchi</span>
	</div>
	<div>
		Email: <span th:txt="${cliente.email}">email@gmail.com</span>
	</div>
	<div>
		Indirizzo di consegna: <span th:txt="${cliente.indirizzo}">via Macchia Palocco</span>
	</div>
	
	<div>
	<h2>Queste sono le foto che hai selezionato:</h2>
	</div>
	<div> 
		<ul>
			<li th:each = "fotografia : ${carrello}">
				Nome <span th:text = ${fotografia.nome}>NomeFotografia</span>
				Descrizione <span th:text = "${fotografia.descrizione}">DescrizioneFotografia</span> 
			</li>
		</ul>
	</div>
</body>
</html>