<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	
		
	<link rel="stylesheet" type="text/css" th:href="@{/css/fotografo.css}"/>
    <link rel="stylesheet" type="text/css" href="@{/css/lightbox.min.css}"/>
     <script type="text/javascript" src="js/lightbox-plus-jquery.min.js">
    </script>	
    
    <head>
<meta charset="ISO-8859-1">
<title>Richiesta</title>
</head>
<body>
	<h1>Riepilogo richiesta inviata:</h1>
	<h3>I tuoi dati:</h3>
		<div>
		<b>Nome: </b><span th:text="${cliente.nome}">Giovanni</span>
		</div>
		<div>
		<b>Cognome: </b><span th:text="${cliente.cognome}">Bianchi</span>
		</div>
		<div>
		<b>Indirizzo: </b><span th:text="${cliente.indirizzo}">via di macchia Palocco</span>
		</div>
		<div>
		<b>e-mail: </b><span th:text="${cliente.email}">giovanniBianchi@gmail.com</span>
		</div>				
	<div class = "fotoSelezionate">
	<h3>Fotografie Richieste:</h3>
		<ul>
			<li th:each = "fotografiaCarrello : ${fotografieCarrello}">
			<span th:text = ${fotografiaCarrello.nome}>NomeFotografia</span>
			<div class = "immagineSelezionata">
				<img src = "${fotografiaCarrello.url}" th:src="@{${fotografiaCarrello.url}}"/>;
			</div>
			</li>
		</ul>
	</div>
	
</body>
</html>