<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="ISO-8859-1">
<title>Richiesta</title>
</head>
<body>
	<h1>Riepilogo richiesta inviata:</h1>
		<div>
		Nome: <span th:text="${cliente.nome}">Giovanni</span>
		</div>
		<div>
		Cognome: <span th:text="${cliente.cognome}">Bianchi</span>
		</div>
		<div>
		Indirizzo: <span th:text="${cliente.indirizzo}">via di macchia Palocco</span>
		</div>
		<div>
		e-mail: <span th:text="${cliente.email}">giovanniBianchi@gmail.com</span>
		</div>				
	<div>
	<h2>Queste sono le foto che hai selezionato:</h2>
	</div>
	<div> 
		<ul>
			<li th:each = "fotografia : ${carrello}">
				Nome <span th:text = ${fotografia.nome}>NomeFotografia</span>
				Descrizione <span th:text = "${fotografia.descrizione}">DescrizioneFotografia</span> 
			</li>
		</ul>
	</div>
</body>
</html>