h1{
	text-align: center;
	color: purple;
	margin: 30px 0 50px;
	font-size: 60;

	}

.links{
	text-align: center;
	color: purple;
	margin: 40px 0 50px;
	font-size: 30;

}

.loginFunzionario{
	text-align: center;
	color: #2F2F2F;
	margin: 5px 0 5px;
	text-align: right;
	font-size: 30;
}

body{
	background-color: thistle;
}

.benvenuto img{
	width:1000px;
}

.links img{
	width:200px;
}

