h1{
	text-align: center;
	color: purple;
	margin: 30px 0 50px;
	font-size: 50;

	}
h2{
	color: purple;
	margin: 10px 0 20px;
	font-size: 30;
}
h3{
	color: purple;
	margin: 10px 0 20px;
	font-size: 25;
}
h4{
	color: purple;
	margin: 10px 0 20px;
	font-size: 22;
}
body{
	background-color: thistle;
}
.immagine img{
	margin: 10px;
	vertical-align: middle;
	border: 5px solid #333333;
	background: #333333;
	width:270px;
	padding:5px;
}
.immagineSelezionata img{
	margin: auto 0;
	vertical-align: middle;
	border: 5px solid #333333;
	background: #333333;
	width:250px;
	padding:5px;
}
.linkHomepage{
	text-align: center;
	color: purple;
	margin: 30px 0 50px;
	font-size: 30;
}
.ingrandimento{
	text-align: center;
	color: purple;
	margin: 30px 0 50px;
	font-size: 30;
}

.ingrandimento img{
	margin: auto 0;
	border: 5px solid #333333;
	background: #333333;
	width:1250px;
}

.operazioniFunzionario{
	margin: 30px 0 50px;
	
}


